@import "../public/fonts/fonts.css";

:root {
    --primaryColor: #b13038;
    --mainColor: #000;
    --bgLight: #fff7f7;
    --widthFull: 100%;
    --widthContainer: 1260px
}

* {
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-family: 'Museo Cyrl', serif;
}